districtgenerator/results/*
districtgenerator/data/weather/*
optimization_results/*
districtgenerator.egg-info/*

districtgenerator/data/scenarios/*
!districtgenerator/data/scenarios/example.csv

.env.CONFIG.*
!.env.CONFIG.EXAMPLE
!.env.CONFIG.BERLIN


errorfile.txt
*.bk
*.log
*.lp
*.sol
*.ilp
*.prm
*.mps
*.p
*.pkl
__pycache__/
.idea/

*.egg-info/
*.egg/
*.eggs

.gitlab-ci.yml
