districtgenerator/results/*
districtgenerator/data/scenarios/*
!districtgenerator/data/scenarios/example.csv
!districtgenerator/data/scenarios/info.txt
errorfile.txt
*.bk
*.log
*.lp
*.sol
*.ilp
*.prm
*.mps
*.p
*.pkl
__pycache__/
.idea/
demands/
districtgenerator/data/weather/*
*.egg-info/
*.egg/
*.eggs