districtgenerator/results/*
districtgenerator/data/scenarios/*
errorfile.txt
build
*.bk
*.log
*.lp
*.sol
*.ilp
*.prm
*.mps
*.p
*.pkl
__pycache__/
.idea/
demands/
districtgenerator/data/weather/*
*.egg-info/
*.egg/
*.eggs
districtgenerator.egg-info/*
