numpy>=1.20.1
pandas>=1.2.3
matplotlib>=3.3.4
scipy>=1.6.1
teaser==0.7.7
richardsonpy~=0.2.1
pylightxl~=1.61
gurobipy>=9.5.1
xlsxwriter~=3.2.0
geopy~=2.4.1
pyproj~=3.7.0
openpyxl==3.1.5
seaborn==0.13.2
OpenDHW>=0.2.2
setuptools~=75.8.0
reportlab~=3.6.13
pydantic-settings >= 2.2.1
pydantic >= 2.8.2
