# This file contains all waste heat parameters defined in config.py, the parameters defined in this file will override the default values in # config.py

#################################################
########## Waste Heat Configurations  ###########
#################################################
# Misc Data
distance=500
deltaT_pinch_HP=5
deltaT_pinch_collector_water=5
eta_HP=0.5

# Data Center Data
connected_load=500
load_factor=0.5
T_hot=60

# Wastewater Treatment Plant Data
PE=10000
Vdot_person_daily=126
T_max=20
T_min=10
T_ref=8

# Industry Data
shift_type=2
production_annual=100000

# Economic Data
lifetime=20
cost_om=0.025
