# This file contains all the default paramters defined in config.py, decentral & central device config
# How to use this file:
# 1. Copy this file to .env.CONFIG or name as you wish -> use the chosen name to load the configuration (see e9)
# 2. Adjust the parameters according to your needs, delete parameters you want to keep default values
# Note: All parameters defined in this file will override the default values in config.py

# Keep in mind you need a <scenario_name>.csv file in the data/scenarios folder
SCENARIO_NAME=example

#################################################
### General Configurations (multiple Configs) ###
#################################################

# Location and Climate Data (LocationConfig)
TIMEZONE=1
ALBEDO=0.2
TRYYEAR=TRY2015
TRYTYPE=Jahr
ZIP=52064

# Time and Data Configurations (TimeConfig)
TIMERESOLUTION=3600
CLUSTERLENGTH=604800
CLUSTERNUMBER=4
DATARESOLUTION=3600
DATALENGTH=31536000

# Operational & Calendar Configuration (CalenderConfig)
CONSIDER_HEATING_PERIOD=True
HEATING_PERIOD_START=259
HEATING_PERIOD_END=135
CONSIDER_COOLING_PERIOD=True
COOLING_PERIOD_START=105
COOLING_PERIOD_END=273

# Design Building Parameters (DesignBuildingConfig)
T_SET_MIN=21.0
T_SET_MIN_NIGHT=18.0
T_SET_MIN_FREE_DAY=16.0
T_SET_MAX=26.0
T_SET_MAX_NIGHT=28.0
T_BIVALENT=-2.0
T_HEATLIMIT=15.0
VENTILATION_RATE=0.5

# Economic Parameters (EcoConfig)
PRICE_SUPPLY_EL=0.32
REVENUE_FEED_IN_EL=0.0811
PRICE_SUPPLY_GAS=0.12
PRICE_HYDROGEN=0.1
PRICE_WASTE=0.1
PRICE_BIOMASS=0.05
CO2_EL_GRID=0.49
CO2_GAS=0.25
CO2_BIOM=0.35
CO2_WASTE=0.0
CO2_HYDROGEN=0.0

# Heat Grid Parameters (HeatGridConfig)
FAR=1.17
D_HEATING_NETWORK=1.0
D_COOLING_NETWORK=1.0
GRID_DEPTH=1.0
LIFE_TIME=40
T_HOT_HEATING_NETWORK=80.0
T_COLD_HEATING_NETWORK=60.0
T_HOT_COOLING_NETWORK=12.0
T_COLD_COOLING_NETWORK=6.0
DELTA_T_HEATTRANSFER=5.0
ASPHALTLAYER=1
D_ASPHALT=0.18
K_SOIL=1.52
K_PUF=0.03
H_LOSS_SUBSTATION=4.5
C_SUBSTATION=277.79
C_OM=1.44

# EHDO Model Parameters (EhdoConfig)
ENABLE_SUPPLY_EL=True
ENABLE_FEED_IN_EL=True
ENABLE_PRICE_CAP_EL=False
PRICE_CAP_EL=60
ENABLE_CAP_LIMIT_EL=False
CAP_LIMIT_EL=100000
ENABLE_SUPPLY_LIMIT_EL=False
SUPPLY_LIMIT_EL=100000

ENABLE_SUPPLY_GAS=False
ENABLE_PRICE_CAP_GAS=False
PRICE_CAP_GAS=0.04
ENABLE_FEED_IN_GAS=False
REVENUE_FEED_IN_GAS=0.02
ENABLE_CAP_LIMIT_GAS=False
CAP_LIMIT_GAS=1000000

ENABLE_SUPPLY_BIOMASS=False
ENABLE_SUPPLY_LIMIT_BIOMASS=False
SUPPLY_LIMIT_BIOMASS=1000000

ENABLE_SUPPLY_HYDROGEN=False
ENABLE_SUPPLY_LIMIT_HYDROGEN=False
SUPPLY_LIMIT_HYDROGEN=1000000

ENABLE_SUPPLY_WASTE=False
ENABLE_SUPPLY_LIMIT_WASTE=False
SUPPLY_LIMIT_WASTE=1000000

PEAK_DEM_MET_CONV=True
CO2_TAX=0
CO2_EL_FEED_IN=0
CO2_GAS_FEED_IN=0
OPTIM_FOCUS=0
INTEREST_RATE=0.05
OBSERVATION_TIME=20
N_CLUSTERS=12

# Physical Properties (PhysicsConfig)
RHO_AIR=1.2
C_P_AIR=1000.0
RHO_WATER=1000.0
C_P_WATER=4.18

# Optimization Parameters (GurobiConfig)
MODELNAME=Central_Operational_Optimization
TIMELIMIT=3600
MIPGAP=0.01
MIPFOCUS=3
NONCONVEX=2
NUMERICFOCUS=3
POOLSOLUTION=3
DUALREDUCTIONS=0


##########################################################
### Central Device Configuration (CentralDeviceConfig) ###
### Prefix "C_" for central only here, not config.py   ###
##########################################################

#Photovoltaic (PV) Parameters
C_PV_FEASIBLE=true
C_PV_ETA=0.18
C_PV_BETA=35
C_PV_GAMMA=0
C_PV_LIFE_TIME=20
C_PV_INV_VAR=1300
C_PV_COST_OM=0.02
C_PV_MAX_AREA=50000
C_PV_MIN_AREA=0
C_PV_G_STC=1

#Wind Turbine (WT) Parameters
C_WT_FEASIBLE=false
C_WT_INV_VAR=900
C_WT_LIFE_TIME=20
C_WT_COST_OM=0.03
C_WT_MIN_CAP=0
C_WT_MAX_CAP=10000
C_WT_H_COEFF=0.14
C_WT_HUB_H=122
C_WT_REF_H=10
C_WT_NORM_POWER=0.85

#Wave & Tidal (WAT) Parameters
C_WAT_FEASIBLE=false
C_WAT_INV_VAR=1000
C_WAT_LIFE_TIME=40
C_WAT_COST_OM=0.02
C_WAT_MIN_CAP=0
C_WAT_MAX_CAP=100000
C_WAT_POTENTIAL=1000

#Solar Thermal (STC) Parameters
C_STC_FEASIBLE=false
C_STC_ETA=0.45
C_STC_BETA=35
C_STC_GAMMA=0
C_STC_INV_VAR=702
C_STC_LIFE_TIME=20
C_STC_COST_OM=0.02
C_STC_MAX_AREA=10000
C_STC_MIN_AREA=0
C_STC_G_STC=1

#Combined Heat and Power (CHP) Parameters
C_CHP_FEASIBLE=false
C_CHP_INV_VAR=1180
C_CHP_ETA_EL=0.46
C_CHP_ETA_TH=0.44
C_CHP_LIFE_TIME=15
C_CHP_COST_OM=0.08
C_CHP_MIN_CAP=0
C_CHP_MAX_CAP=100000

#Boiler (BOI) Parameters
C_BOI_FEASIBLE=false
C_BOI_INV_VAR=108
C_BOI_ETA_TH=0.99
C_BOI_LIFE_TIME=25
C_BOI_COST_OM=0.01
C_BOI_MIN_CAP=0
C_BOI_MAX_CAP=100000

#Gas Heat Pump (GHP) Parameters
C_GHP_FEASIBLE=false
C_GHP_INV_VAR=1527
C_GHP_COP=2.4
C_GHP_LIFE_TIME=18
C_GHP_COST_OM=0.03
C_GHP_MIN_CAP=0
C_GHP_MAX_CAP=100000

#Heat Pump (HP) Parameters
C_HP_FEASIBLE=true
C_HP_CCOP_FEASIBLE=false
C_HP_ASHP_FEASIBLE=false
C_HP_CSV_FEASIBLE=true
C_HP_INV_VAR=748
C_HP_LIFE_TIME=25
C_HP_COST_OM=0.03
C_HP_MIN_CAP=0
C_HP_MAX_CAP=100000
C_HP_ASHP_CARNOT_EFF=0.4
C_HP_ASHP_SUPPLY_TEMP=60
C_HP_COP_CONST=5

#Air Source Heat Pump (AirHP) Parameters
C_AIRHP_FEASIBLE=true
C_AIRHP_LIFE_TIME=25
C_AIRHP_INV_VAR=1500
C_AIRHP_COST_OM=0.025
C_AIRHP_MIN_CAP=0
C_AIRHP_MAX_CAP=20000

#Ground Source Heat Pump (GroundHP) Parameters
C_GROUNDHP_FEASIBLE=false
C_GROUNDHP_LIFE_TIME=20
C_GROUNDHP_COST_OM=0.025
C_GROUNDHP_INV_VAR=1000
C_GROUNDHP_MIN_CAP=0
C_GROUNDHP_MAX_CAP=500

#Electric Boiler (EB) Parameters
C_EB_FEASIBLE=true
C_EB_INV_VAR=463
C_EB_ETA_TH=1
C_EB_LIFE_TIME=25
C_EB_COST_OM=0.01
C_EB_MIN_CAP=0
C_EB_MAX_CAP=100000

#Carnot Cycle (CC) Parameters
C_CC_FEASIBLE=true
C_CC_INV_VAR=600
C_CC_COP=5.0
C_CC_LIFE_TIME=20
C_CC_COST_OM=0.05
C_CC_MIN_CAP=0
C_CC_MAX_CAP=100000

#Air Cooled Chiller (AirCC) Parameters
C_AIRCC_FEASIBLE=false
C_AIRCC_LIFE_TIME=20
C_AIRCC_INV_VAR=700
C_AIRCC_COST_OM=0.02
C_AIRCC_MIN_CAP=0
C_AIRCC_MAX_CAP=500

#Absorption Chiller (AC) Parameters
C_AC_FEASIBLE=false
C_AC_INV_VAR=750
C_AC_ETA_TH=0.6
C_AC_LIFE_TIME=20
C_AC_COST_OM=0.05
C_AC_MIN_CAP=0
C_AC_MAX_CAP=100000

#Biomass CHP (BCHP) Parameters
C_BCHP_FEASIBLE=false
C_BCHP_INV_VAR=6386
C_BCHP_ETA_EL=0.13
C_BCHP_ETA_TH=0.77
C_BCHP_LIFE_TIME=28
C_BCHP_COST_OM=0.05
C_BCHP_MIN_CAP=0
C_BCHP_MAX_CAP=100000

#Biomass Boiler (BBOI) Parameters
C_BBOI_FEASIBLE=false
C_BBOI_INV_VAR=692
C_BBOI_ETA_TH=0.9
C_BBOI_LIFE_TIME=28
C_BBOI_COST_OM=0.04
C_BBOI_MIN_CAP=0
C_BBOI_MAX_CAP=100000

#Waste CHP (WCHP) Parameters
C_WCHP_FEASIBLE=false
C_WCHP_INV_VAR=1200
C_WCHP_ETA_EL=0.35
C_WCHP_ETA_TH=0.5
C_WCHP_LIFE_TIME=30
C_WCHP_COST_OM=0.08
C_WCHP_MIN_CAP=0
C_WCHP_MAX_CAP=100000

#Waste Boiler (WBOI) Parameters
C_WBOI_FEASIBLE=false
C_WBOI_INV_VAR=2788
C_WBOI_ETA_TH=1.06
C_WBOI_LIFE_TIME=25
C_WBOI_COST_OM=0.04
C_WBOI_MIN_CAP=0
C_WBOI_MAX_CAP=100000

#Electrolyzer (ELYZ) Parameters
C_ELYZ_FEASIBLE=false
C_ELYZ_INV_VAR=1200
C_ELYZ_ETA_EL=0.7
C_ELYZ_LIFE_TIME=20
C_ELYZ_COST_OM=0.08
C_ELYZ_MIN_CAP=0
C_ELYZ_MAX_CAP=100000

#Fuel Cell (FC) Parameters
C_FC_FEASIBLE=false
C_FC_INV_VAR=4000
C_FC_ETA_EL=0.35
C_FC_ETA_TH=0.5
C_FC_LIFE_TIME=20
C_FC_COST_OM=0.08
C_FC_MIN_CAP=0
C_FC_MAX_CAP=100000
C_FC_ENABLE_HEAT_DISS=true

#Hydrogen Storage (H2S) Parameters
C_H2S_FEASIBLE=false
C_H2S_INV_VAR=150
C_H2S_STO_LOSS=0.0
C_H2S_LIFE_TIME=20
C_H2S_COST_OM=0.01
C_H2S_MIN_CAP=0
C_H2S_MAX_CAP=100000

#Sabatier (SAB) Parameters
C_SAB_FEASIBLE=false
C_SAB_INV_VAR=800
C_SAB_ETA=0.83
C_SAB_LIFE_TIME=20
C_SAB_COST_OM=0.08
C_SAB_MIN_CAP=0
C_SAB_MAX_CAP=100000

#Thermal Energy Storage (TES) Parameters
C_TES_FEASIBLE=true
C_TES_INV_VAR=297
C_TES_STO_LOSS=0.01
C_TES_LIFE_TIME=45
C_TES_COST_OM=0.01
C_TES_MIN_VOL=0
C_TES_MAX_VOL=10000
C_TES_DELTA_T=55
C_TES_SOC_INIT=0.5

#Combined Thermal Energy Storage (CTES) Parameters
C_CTES_FEASIBLE=false
C_CTES_INV_VAR=297
C_CTES_STO_LOSS=0.01
C_CTES_LIFE_TIME=45
C_CTES_COST_OM=0.01
C_CTES_MIN_VOL=0
C_CTES_MAX_VOL=100000
C_CTES_DELTA_T=55
C_CTES_SOC_INIT=0.5

#Battery (BAT) Parameters
C_BAT_FEASIBLE=false
C_BAT_INV_VAR=970
C_BAT_LIFE_TIME=15
C_BAT_COST_OM=0.01
C_BAT_MIN_CAP=0
C_BAT_MAX_CAP=100000
C_BAT_STO_LOSS=0.0
C_BAT_SOC_INIT=0.5

#Gravity Storage (GS) Parameters
C_GS_FEASIBLE=false
C_GS_INV_VAR=150
C_GS_LIFE_TIME=20
C_GS_COST_OM=0.01
C_GS_MIN_CAP=0
C_GS_MAX_CAP=100000
C_GS_STO_LOSS=0.0
C_GS_SOC_INIT=0.5


##############################################################
### Decentral Device Configuration (DecentralDeviceConfig) ###
### Prefix "D_" for decentral only here, not config.py     ###
##############################################################

# Compression Chiller (CC) Parameters
D_CC_GRADE=0.4
D_CC_LIFE_TIME=20
D_CC_INV_VAR=700
D_CC_COST_OM=0.02

# Heat Pump (HP) Parameters
D_HP_GRADE=0.4
D_HP_LIFE_TIME=18
D_HP_INV_VAR=1000
D_HP_COST_OM=0.02

# Electric Heater (HP) Parameters
D_EH_ETA_TH=1.0

# Boiler (BOI) Parameters
D_BOI_ETA_TH=0.97
D_BOI_LIFE_TIME=20
D_BOI_INV_VAR=130
D_BOI_COST_OM=0.05

# Combined Heat and Power (CHP) Parameters
D_CHP_ETA_TH=0.62
D_CHP_ETA_EL=0.3
D_CHP_LIFE_TIME=15
D_CHP_INV_VAR=3500
D_CHP_COST_OM=0.05

# Fuel Cell (FC) Parameters
D_FC_ETA_TH=0.53
D_FC_ETA_EL=0.39

# Photovoltaic (PV) Parameters
D_PV_AREA_REAL=1.6
D_PV_ETA_EL_REF=0.199
D_PV_T_CELL_REF=25
D_PV_G_REF=1000
D_PV_T_CELL_NOCT=44
D_PV_T_AIR_NOCT=20
D_PV_G_NOCT=800
D_PV_GAMMA=0.003
D_PV_ETA_INV=0.96
D_PV_ETA_OPT=0.9
D_PV_P_NOMINAL=220.0
D_PV_LIFE_TIME=25
D_PV_INV_VAR=340
D_PV_COST_OM=0.05

# Photovoltaic Thermal (PVT) Parameters
D_STC_T_FLOW=50
D_STC_ZERO_LOSS=0.786
D_STC_FIRST_ORDER=0.003345
D_STC_SECOND_ORDER=0.0000142
D_STC_LIFE_TIME=20
D_STC_INV_VAR=400
D_STC_COST_OM=0.05

# Thermal Energy Storage (TES) Parameters
D_TES_SOC_MIN=0.05
D_TES_SOC_MAX=1.0
D_TES_ETA_STANDBY=0.97
D_TES_ETA_CH=1.0
D_TES_COEFF_CH=10000.0
D_TES_INIT=0.5
D_TES_T_DIFF_MAX=35
D_TES_LIFE_TIME=15
D_TES_INV_VAR=20
D_TES_COST_OM=0.05

# Battery (BAT) Parameters
D_BAT_SOC_MIN=0.0
D_BAT_SOC_MAX=0.95
D_BAT_ETA_STANDBY=0.97
D_BAT_ETA_CH=0.97
D_BAT_COEFF_CH=0.8
D_BAT_INIT=0.2
D_BAT_LIFE_TIME=15
D_BAT_INV_VAR=850
D_BAT_COST_OM=0.05

# Electric Vehicle (EV) Parameters
D_EV_SOC_MIN=0.05
D_EV_SOC_MAX=0.95
D_EV_ETA_STANDBY=1.0
D_EV_ETA_CH=0.97
D_EV_COEFF_CH=1.2
D_EV_INIT=0.2
D_EV_LIFE_TIME=20
D_EV_INV_VAR=700
D_EV_COST_OM=0.05

# Investment data parameters
D_INV_OBSERVATION_TIME=20
D_INV_INTEREST_RATE=0.05